/* navbar */

.my-navbar {
  background: blue;
}

/* banner */

.banner-img {
  position: relative;
  width: 100vw;
  height: 70vh;
}

.banner-title {
  position: absolute;
  top: 45vh;
  left: 5vw;
  color: aliceblue;
}

.banner-overview {
  position: absolute;
  top: 52vh;
  left: 5vw;
  height: 4.5rem;
  overflow: hidden;
  margin-right: 5vw;
  color: aliceblue;
}

/* movie-card */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}
.movie-card {
  width: 20vw;
  margin: 1rem;
  color: white;
}
.movie-img {
  position: relative;
  height: 40vh;
  width: 20vw;
}
.movie-title {
  position: absolute;
  background-color: black;
  top: 1rem;
  left: 1rem;
}

.movie-button {
  position: absolute;
  bottom: 2rem;
}

@media screen and (max-width: 400px) {
  .banner-card {
    height: 30vh;
  }
  .banner-img {
    height: 30vh;
  }
  .banner-title {
    top: 10vh;
    left: 5vw;
  }
  .banner-overview {
    top: 17vh;
    left: 5vw;
  }
  .movie-card {
    width: 80vw;
    margin: 0.1rem;
  }
  .movie-button {
    width: 80%;
  }
  .movie-img {
    width: 80vw;
  }
}

/* Favourite */
.Favourite-img {
  width: 10rem;
}
.favourite-filter {
  margin-left: 2rem;
}
